{
  "openapi": "3.0.3",
  "info": {
    "title": "Synapse - App Marketplace & Registry API",
    "version": "1.0.0",
    "description": "Enterprise REST API specification for App Marketplace & Registry module in Synapse Platform."
  },
  "servers": [
    {
      "url": "https://gateway.synapse.dev/v1/app",
      "description": "Production Gateway"
    },
    {
      "url": "http://localhost:4000/v1/app",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/applistings": {
      "get": {
        "summary": "List all AppListing instances",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of AppListing resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppListing"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new AppListing",
        "tags": [
          "App Marketplace & Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppListingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AppListing created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListing"
                }
              }
            }
          }
        }
      }
    },
    "/applistings/{id}": {
      "get": {
        "summary": "Get single AppListing by identifier",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of AppListing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListing"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update AppListing properties",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppListingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete AppListing",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/appversions": {
      "get": {
        "summary": "List all AppVersion instances",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of AppVersion resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppVersion"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new AppVersion",
        "tags": [
          "App Marketplace & Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppVersionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AppVersion created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          }
        }
      }
    },
    "/appversions/{id}": {
      "get": {
        "summary": "Get single AppVersion by identifier",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of AppVersion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update AppVersion properties",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppVersionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete AppVersion",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/connectorschemas": {
      "get": {
        "summary": "List all ConnectorSchema instances",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of ConnectorSchema resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectorSchema"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new ConnectorSchema",
        "tags": [
          "App Marketplace & Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectorSchemaRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ConnectorSchema created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorSchema"
                }
              }
            }
          }
        }
      }
    },
    "/connectorschemas/{id}": {
      "get": {
        "summary": "Get single ConnectorSchema by identifier",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of ConnectorSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorSchema"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update ConnectorSchema properties",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnectorSchemaRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete ConnectorSchema",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/apppermissions": {
      "get": {
        "summary": "List all AppPermission instances",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of AppPermission resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppPermission"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new AppPermission",
        "tags": [
          "App Marketplace & Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppPermissionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AppPermission created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppPermission"
                }
              }
            }
          }
        }
      }
    },
    "/apppermissions/{id}": {
      "get": {
        "summary": "Get single AppPermission by identifier",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of AppPermission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppPermission"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update AppPermission properties",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppPermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete AppPermission",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/appreviews": {
      "get": {
        "summary": "List all AppReview instances",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of AppReview resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppReview"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new AppReview",
        "tags": [
          "App Marketplace & Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AppReview created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppReview"
                }
              }
            }
          }
        }
      }
    },
    "/appreviews/{id}": {
      "get": {
        "summary": "Get single AppReview by identifier",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of AppReview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppReview"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update AppReview properties",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete AppReview",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/appinstallations": {
      "get": {
        "summary": "List all AppInstallation instances",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of AppInstallation resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppInstallation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new AppInstallation",
        "tags": [
          "App Marketplace & Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppInstallationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AppInstallation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppInstallation"
                }
              }
            }
          }
        }
      }
    },
    "/appinstallations/{id}": {
      "get": {
        "summary": "Get single AppInstallation by identifier",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of AppInstallation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppInstallation"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update AppInstallation properties",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppInstallationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete AppInstallation",
        "tags": [
          "App Marketplace & Registry"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Synapse-Api-Key"
      }
    },
    "schemas": {
      "AppListing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "app_hs1d34"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard AppListing"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAppListingRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New AppListing"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateAppListingRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AppVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "app_c9b5mz"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard AppVersion"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAppVersionRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New AppVersion"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateAppVersionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ConnectorSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "app_lq8syw"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard ConnectorSchema"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateConnectorSchemaRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New ConnectorSchema"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateConnectorSchemaRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AppPermission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "app_xaepkn"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard AppPermission"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAppPermissionRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New AppPermission"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateAppPermissionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AppReview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "app_skjq06"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard AppReview"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAppReviewRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New AppReview"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateAppReviewRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AppInstallation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "app_ncywkj"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard AppInstallation"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAppInstallationRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New AppInstallation"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateAppInstallationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}
