{
  "openapi": "3.0.3",
  "info": {
    "title": "Synapse - Audit Trail & Compliance API",
    "version": "1.0.0",
    "description": "Enterprise REST API specification for Audit Trail & Compliance module in Synapse Platform."
  },
  "servers": [
    {
      "url": "https://gateway.synapse.dev/v1/audit",
      "description": "Production Gateway"
    },
    {
      "url": "http://localhost:4000/v1/audit",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/auditlogs": {
      "get": {
        "summary": "List all AuditLog instances",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of AuditLog resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLog"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new AuditLog",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuditLogRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AuditLog created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            }
          }
        }
      }
    },
    "/auditlogs/{id}": {
      "get": {
        "summary": "Get single AuditLog by identifier",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of AuditLog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update AuditLog properties",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAuditLogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete AuditLog",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/compliancereports": {
      "get": {
        "summary": "List all ComplianceReport instances",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of ComplianceReport resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComplianceReport"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new ComplianceReport",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComplianceReportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ComplianceReport created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceReport"
                }
              }
            }
          }
        }
      }
    },
    "/compliancereports/{id}": {
      "get": {
        "summary": "Get single ComplianceReport by identifier",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of ComplianceReport",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceReport"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update ComplianceReport properties",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateComplianceReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete ComplianceReport",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/gdprrequests": {
      "get": {
        "summary": "List all GdprRequest instances",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of GdprRequest resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GdprRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new GdprRequest",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGdprRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "GdprRequest created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GdprRequest"
                }
              }
            }
          }
        }
      }
    },
    "/gdprrequests/{id}": {
      "get": {
        "summary": "Get single GdprRequest by identifier",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of GdprRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GdprRequest"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update GdprRequest properties",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGdprRequestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete GdprRequest",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/retentionpolicys": {
      "get": {
        "summary": "List all RetentionPolicy instances",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of RetentionPolicy resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetentionPolicy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new RetentionPolicy",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRetentionPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "RetentionPolicy created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetentionPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/retentionpolicys/{id}": {
      "get": {
        "summary": "Get single RetentionPolicy by identifier",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of RetentionPolicy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetentionPolicy"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update RetentionPolicy properties",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRetentionPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete RetentionPolicy",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/integrityproofs": {
      "get": {
        "summary": "List all IntegrityProof instances",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of IntegrityProof resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrityProof"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new IntegrityProof",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegrityProofRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "IntegrityProof created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrityProof"
                }
              }
            }
          }
        }
      }
    },
    "/integrityproofs/{id}": {
      "get": {
        "summary": "Get single IntegrityProof by identifier",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of IntegrityProof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrityProof"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update IntegrityProof properties",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegrityProofRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete IntegrityProof",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/securityevents": {
      "get": {
        "summary": "List all SecurityEvent instances",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of SecurityEvent resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SecurityEvent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new SecurityEvent",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSecurityEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SecurityEvent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEvent"
                }
              }
            }
          }
        }
      }
    },
    "/securityevents/{id}": {
      "get": {
        "summary": "Get single SecurityEvent by identifier",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SecurityEvent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityEvent"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update SecurityEvent properties",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSecurityEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete SecurityEvent",
        "tags": [
          "Audit Trail & Compliance"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Synapse-Api-Key"
      }
    },
    "schemas": {
      "AuditLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "audit_s23hla"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard AuditLog"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAuditLogRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New AuditLog"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateAuditLogRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ComplianceReport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "audit_p9bqeu"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard ComplianceReport"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateComplianceReportRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New ComplianceReport"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateComplianceReportRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "GdprRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "audit_4h71pi"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard GdprRequest"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateGdprRequestRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New GdprRequest"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateGdprRequestRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "RetentionPolicy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "audit_5szcz9"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard RetentionPolicy"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateRetentionPolicyRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New RetentionPolicy"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateRetentionPolicyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "IntegrityProof": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "audit_8flbkv"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard IntegrityProof"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateIntegrityProofRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New IntegrityProof"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateIntegrityProofRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SecurityEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "audit_ycaupt"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard SecurityEvent"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSecurityEventRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New SecurityEvent"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateSecurityEventRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}
