{
  "openapi": "3.0.3",
  "info": {
    "title": "Synapse - Twilio SMS & Voice API",
    "version": "1.0.0",
    "description": "Enterprise REST API specification for Twilio SMS & Voice module in Synapse Platform."
  },
  "servers": [
    {
      "url": "https://gateway.synapse.dev/v1/twilio",
      "description": "Production Gateway"
    },
    {
      "url": "http://localhost:4000/v1/twilio",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/twiliomessages": {
      "get": {
        "summary": "List all TwilioMessage instances",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of TwilioMessage resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwilioMessage"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new TwilioMessage",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTwilioMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "TwilioMessage created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioMessage"
                }
              }
            }
          }
        }
      }
    },
    "/twiliomessages/{id}": {
      "get": {
        "summary": "Get single TwilioMessage by identifier",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of TwilioMessage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioMessage"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update TwilioMessage properties",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTwilioMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete TwilioMessage",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/twiliocalls": {
      "get": {
        "summary": "List all TwilioCall instances",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of TwilioCall resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwilioCall"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new TwilioCall",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTwilioCallRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "TwilioCall created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioCall"
                }
              }
            }
          }
        }
      }
    },
    "/twiliocalls/{id}": {
      "get": {
        "summary": "Get single TwilioCall by identifier",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of TwilioCall",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioCall"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update TwilioCall properties",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTwilioCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete TwilioCall",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/twiliophonenumbers": {
      "get": {
        "summary": "List all TwilioPhoneNumber instances",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of TwilioPhoneNumber resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwilioPhoneNumber"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new TwilioPhoneNumber",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTwilioPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "TwilioPhoneNumber created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioPhoneNumber"
                }
              }
            }
          }
        }
      }
    },
    "/twiliophonenumbers/{id}": {
      "get": {
        "summary": "Get single TwilioPhoneNumber by identifier",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of TwilioPhoneNumber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioPhoneNumber"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update TwilioPhoneNumber properties",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTwilioPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete TwilioPhoneNumber",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/twiliotwimls": {
      "get": {
        "summary": "List all TwilioTwiML instances",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of TwilioTwiML resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwilioTwiML"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new TwilioTwiML",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTwilioTwiMLRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "TwilioTwiML created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioTwiML"
                }
              }
            }
          }
        }
      }
    },
    "/twiliotwimls/{id}": {
      "get": {
        "summary": "Get single TwilioTwiML by identifier",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of TwilioTwiML",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioTwiML"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update TwilioTwiML properties",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTwilioTwiMLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete TwilioTwiML",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/twilioverifications": {
      "get": {
        "summary": "List all TwilioVerification instances",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of TwilioVerification resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwilioVerification"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new TwilioVerification",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTwilioVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "TwilioVerification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioVerification"
                }
              }
            }
          }
        }
      }
    },
    "/twilioverifications/{id}": {
      "get": {
        "summary": "Get single TwilioVerification by identifier",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of TwilioVerification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioVerification"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update TwilioVerification properties",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTwilioVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete TwilioVerification",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/twiliousagerecords": {
      "get": {
        "summary": "List all TwilioUsageRecord instances",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of TwilioUsageRecord resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TwilioUsageRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new TwilioUsageRecord",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTwilioUsageRecordRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "TwilioUsageRecord created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioUsageRecord"
                }
              }
            }
          }
        }
      }
    },
    "/twiliousagerecords/{id}": {
      "get": {
        "summary": "Get single TwilioUsageRecord by identifier",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of TwilioUsageRecord",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwilioUsageRecord"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update TwilioUsageRecord properties",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTwilioUsageRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete TwilioUsageRecord",
        "tags": [
          "Twilio SMS & Voice"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Synapse-Api-Key"
      }
    },
    "schemas": {
      "TwilioMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "twilio_ns0tmj"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard TwilioMessage"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTwilioMessageRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New TwilioMessage"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateTwilioMessageRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TwilioCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "twilio_5o06yc"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard TwilioCall"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTwilioCallRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New TwilioCall"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateTwilioCallRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TwilioPhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "twilio_4iwg8r"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard TwilioPhoneNumber"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTwilioPhoneNumberRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New TwilioPhoneNumber"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateTwilioPhoneNumberRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TwilioTwiML": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "twilio_u6199f"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard TwilioTwiML"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTwilioTwiMLRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New TwilioTwiML"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateTwilioTwiMLRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TwilioVerification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "twilio_kfgiis"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard TwilioVerification"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTwilioVerificationRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New TwilioVerification"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateTwilioVerificationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TwilioUsageRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "twilio_gfaxkc"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard TwilioUsageRecord"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTwilioUsageRecordRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New TwilioUsageRecord"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateTwilioUsageRecordRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}
