{
  "openapi": "3.0.3",
  "info": {
    "title": "Synapse - Salesforce CRM Connector API",
    "version": "1.0.0",
    "description": "Enterprise REST API specification for Salesforce CRM Connector module in Synapse Platform."
  },
  "servers": [
    {
      "url": "https://gateway.synapse.dev/v1/sf",
      "description": "Production Gateway"
    },
    {
      "url": "http://localhost:4000/v1/sf",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/salesforceleads": {
      "get": {
        "summary": "List all SalesforceLead instances",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of SalesforceLead resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalesforceLead"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new SalesforceLead",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesforceLeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SalesforceLead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceLead"
                }
              }
            }
          }
        }
      }
    },
    "/salesforceleads/{id}": {
      "get": {
        "summary": "Get single SalesforceLead by identifier",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SalesforceLead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceLead"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update SalesforceLead properties",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesforceLeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete SalesforceLead",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/salesforcecontacts": {
      "get": {
        "summary": "List all SalesforceContact instances",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of SalesforceContact resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalesforceContact"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new SalesforceContact",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesforceContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SalesforceContact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceContact"
                }
              }
            }
          }
        }
      }
    },
    "/salesforcecontacts/{id}": {
      "get": {
        "summary": "Get single SalesforceContact by identifier",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SalesforceContact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceContact"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update SalesforceContact properties",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesforceContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete SalesforceContact",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/salesforceaccounts": {
      "get": {
        "summary": "List all SalesforceAccount instances",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of SalesforceAccount resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalesforceAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new SalesforceAccount",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesforceAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SalesforceAccount created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceAccount"
                }
              }
            }
          }
        }
      }
    },
    "/salesforceaccounts/{id}": {
      "get": {
        "summary": "Get single SalesforceAccount by identifier",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SalesforceAccount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceAccount"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update SalesforceAccount properties",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesforceAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete SalesforceAccount",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/salesforceopportunitys": {
      "get": {
        "summary": "List all SalesforceOpportunity instances",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of SalesforceOpportunity resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalesforceOpportunity"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new SalesforceOpportunity",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesforceOpportunityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SalesforceOpportunity created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceOpportunity"
                }
              }
            }
          }
        }
      }
    },
    "/salesforceopportunitys/{id}": {
      "get": {
        "summary": "Get single SalesforceOpportunity by identifier",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SalesforceOpportunity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceOpportunity"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update SalesforceOpportunity properties",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesforceOpportunityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete SalesforceOpportunity",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/soqlquerys": {
      "get": {
        "summary": "List all SoqlQuery instances",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of SoqlQuery resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SoqlQuery"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new SoqlQuery",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSoqlQueryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SoqlQuery created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoqlQuery"
                }
              }
            }
          }
        }
      }
    },
    "/soqlquerys/{id}": {
      "get": {
        "summary": "Get single SoqlQuery by identifier",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SoqlQuery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoqlQuery"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update SoqlQuery properties",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSoqlQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete SoqlQuery",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/synchistorys": {
      "get": {
        "summary": "List all SyncHistory instances",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of SyncHistory resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SyncHistory"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new SyncHistory",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSyncHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SyncHistory created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncHistory"
                }
              }
            }
          }
        }
      }
    },
    "/synchistorys/{id}": {
      "get": {
        "summary": "Get single SyncHistory by identifier",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of SyncHistory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncHistory"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update SyncHistory properties",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSyncHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete SyncHistory",
        "tags": [
          "Salesforce CRM Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Synapse-Api-Key"
      }
    },
    "schemas": {
      "SalesforceLead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sf_3rwhaw"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard SalesforceLead"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSalesforceLeadRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New SalesforceLead"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateSalesforceLeadRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SalesforceContact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sf_7ujw11"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard SalesforceContact"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSalesforceContactRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New SalesforceContact"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateSalesforceContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SalesforceAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sf_bu2e36"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard SalesforceAccount"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSalesforceAccountRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New SalesforceAccount"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateSalesforceAccountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SalesforceOpportunity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sf_swiwau"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard SalesforceOpportunity"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSalesforceOpportunityRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New SalesforceOpportunity"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateSalesforceOpportunityRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SoqlQuery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sf_b41kq1"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard SoqlQuery"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSoqlQueryRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New SoqlQuery"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateSoqlQueryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SyncHistory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sf_ed1vyv"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard SyncHistory"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSyncHistoryRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New SyncHistory"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateSyncHistoryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}
