{
  "openapi": "3.0.3",
  "info": {
    "title": "Synapse - Discord Bot Connector API",
    "version": "1.0.0",
    "description": "Enterprise REST API specification for Discord Bot Connector module in Synapse Platform."
  },
  "servers": [
    {
      "url": "https://gateway.synapse.dev/v1/discord",
      "description": "Production Gateway"
    },
    {
      "url": "http://localhost:4000/v1/discord",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/discordguilds": {
      "get": {
        "summary": "List all DiscordGuild instances",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of DiscordGuild resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscordGuild"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new DiscordGuild",
        "tags": [
          "Discord Bot Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscordGuildRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DiscordGuild created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordGuild"
                }
              }
            }
          }
        }
      }
    },
    "/discordguilds/{id}": {
      "get": {
        "summary": "Get single DiscordGuild by identifier",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of DiscordGuild",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordGuild"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update DiscordGuild properties",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscordGuildRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete DiscordGuild",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/discordchannels": {
      "get": {
        "summary": "List all DiscordChannel instances",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of DiscordChannel resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscordChannel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new DiscordChannel",
        "tags": [
          "Discord Bot Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscordChannelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DiscordChannel created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordChannel"
                }
              }
            }
          }
        }
      }
    },
    "/discordchannels/{id}": {
      "get": {
        "summary": "Get single DiscordChannel by identifier",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of DiscordChannel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordChannel"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update DiscordChannel properties",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscordChannelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete DiscordChannel",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/discordmessages": {
      "get": {
        "summary": "List all DiscordMessage instances",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of DiscordMessage resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscordMessage"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new DiscordMessage",
        "tags": [
          "Discord Bot Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscordMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DiscordMessage created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordMessage"
                }
              }
            }
          }
        }
      }
    },
    "/discordmessages/{id}": {
      "get": {
        "summary": "Get single DiscordMessage by identifier",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of DiscordMessage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordMessage"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update DiscordMessage properties",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscordMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete DiscordMessage",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/discordroles": {
      "get": {
        "summary": "List all DiscordRole instances",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of DiscordRole resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscordRole"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new DiscordRole",
        "tags": [
          "Discord Bot Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscordRoleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DiscordRole created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordRole"
                }
              }
            }
          }
        }
      }
    },
    "/discordroles/{id}": {
      "get": {
        "summary": "Get single DiscordRole by identifier",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of DiscordRole",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordRole"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update DiscordRole properties",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscordRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete DiscordRole",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/discordembeds": {
      "get": {
        "summary": "List all DiscordEmbed instances",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of DiscordEmbed resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscordEmbed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new DiscordEmbed",
        "tags": [
          "Discord Bot Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscordEmbedRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DiscordEmbed created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordEmbed"
                }
              }
            }
          }
        }
      }
    },
    "/discordembeds/{id}": {
      "get": {
        "summary": "Get single DiscordEmbed by identifier",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of DiscordEmbed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordEmbed"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update DiscordEmbed properties",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscordEmbedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete DiscordEmbed",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    },
    "/discordinteractions": {
      "get": {
        "summary": "List all DiscordInteraction instances",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of DiscordInteraction resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscordInteraction"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access"
          }
        }
      },
      "post": {
        "summary": "Create a new DiscordInteraction",
        "tags": [
          "Discord Bot Connector"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscordInteractionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DiscordInteraction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordInteraction"
                }
              }
            }
          }
        }
      }
    },
    "/discordinteractions/{id}": {
      "get": {
        "summary": "Get single DiscordInteraction by identifier",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of DiscordInteraction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordInteraction"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "put": {
        "summary": "Update DiscordInteraction properties",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscordInteractionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete DiscordInteraction",
        "tags": [
          "Discord Bot Connector"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Synapse-Api-Key"
      }
    },
    "schemas": {
      "DiscordGuild": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "discord_rzyscx"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard DiscordGuild"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDiscordGuildRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New DiscordGuild"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateDiscordGuildRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DiscordChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "discord_ln8uou"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard DiscordChannel"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDiscordChannelRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New DiscordChannel"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateDiscordChannelRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DiscordMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "discord_jvysww"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard DiscordMessage"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDiscordMessageRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New DiscordMessage"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateDiscordMessageRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DiscordRole": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "discord_92mdhw"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard DiscordRole"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDiscordRoleRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New DiscordRole"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateDiscordRoleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DiscordEmbed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "discord_gkzrzi"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard DiscordEmbed"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDiscordEmbedRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New DiscordEmbed"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateDiscordEmbedRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DiscordInteraction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "discord_ykzrzr"
          },
          "organizationId": {
            "type": "string",
            "example": "org_enterprise_primary"
          },
          "name": {
            "type": "string",
            "example": "Standard DiscordInteraction"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "ARCHIVED",
              "DISABLED"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDiscordInteractionRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "New DiscordInteraction"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "UpdateDiscordInteractionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}
